/*
 * MDBootstrap integration with Datatables
 * Learn more: https://mdbootstrap.com/content/bootstrap-datatables/
 * About MDBootstrap: https://mdbootstrap.com/
 *
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs4/dt-1.10.18
 *
 * Included libraries:
 *   DataTables 1.10.18
 */

table.dataTable thead {
    cursor: pointer;
}

table.dataTable thead>tr>th:active {
    outline: none;
}

table.dataTable thead>tr>td:active {
    outline: none;
}

div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
    margin-top: 1.2rem;
    margin-right: 1rem;
}

div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span,
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown {
    margin-top: 1rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
    text-align: left;
    font-weight: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input,
div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5rem;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    font-weight: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: right;
    margin: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #4285f4;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 767px) {
    div.dataTables_wrapper div .dataTables_length,
    div.dataTables_wrapper div .dataTables_filter,
    div.dataTables_wrapper div .dataTables_info,
    div.dataTables_wrapper div .dataTables_paginate ul.pagination {
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.bs-select select {
    display: inline-block !important;
}

table.dataTable thead {
    cursor: pointer;
}

table.dataTable thead>tr>th:active {
    outline: none;
}

table.dataTable thead>tr>td:active {
    outline: none;
}

div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
    margin-top: 1.2rem;
    margin-right: 1rem;
}

div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span,
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown {
    margin-top: 1rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
    text-align: left;
    font-weight: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input,
div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5rem;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    font-weight: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: right;
    margin: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #4285f4;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 767px) {
    div.dataTables_wrapper div .dataTables_length,
    div.dataTables_wrapper div .dataTables_filter,
    div.dataTables_wrapper div .dataTables_info,
    div.dataTables_wrapper div .dataTables_paginate ul.pagination {
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.bs-select select {
    display: inline-block !important;
}
