.mdb-rating .rate-popover {
  color: grey; }

.mdb-rating .live {
  color: black; }

.mdb-rating .oneStar {
  color: #44370f; }

.mdb-rating .twoStars {
  color: #96781e; }

.mdb-rating .threeStars {
  color: #e2b52e; }

.mdb-rating .fourStars {
  color: #f1ba12; }

.mdb-rating .fiveStars {
  color: #f3cb06; }

.mdb-rating .amber-text {
  color: #ffc107 !important; }