// Cards
.card {
  @extend .z-depth-1;
  border: 0;
  font-weight: 400;
  &[class*="border-"] {
    border: 1px solid map-get($grey, "base");
    box-shadow: none;
  }
  .card-body {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
    }
    .card-title {
      a {
        transition: $md-card-link-transition;
        &:hover {
          transition: $md-card-link-transition;
        }
      }
    }
    .card-text {
      @extend .dark-grey-text;
      font-size: $md-card-font-size;
      font-weight: 400;
    }
  }
}